version: "3.9"

services:
  emulator1:
    image: evgeniymish/android:1.10.0
    privileged: true
    container_name: emulator1
    ports:
      - "5555:5555"
      - "6080:6080"
    environment:
      - DEVICE=Nexus 5
      - EMULATOR_ARGS=-no-window -no-audio -no-snapshot-load -no-snapshot-save -wipe-data -memory 4096 -cores 1
      - DATAPARTITION=1024m
      - AUTO_START=true
      - APPIUM=true
    shm_size: "1G"
    deploy:
      resources:
        limits:
          cpus: "1.0"
          memory: 4G

  emulator2:
    image: evgeniymish/android:1.10.0
    privileged: true
    container_name: emulator2
    ports:
      - "5556:5555"
      - "6081:6080"
    environment:
      - DEVICE=Nexus 5
      - EMULATOR_ARGS=-no-window -no-audio -no-snapshot-load -no-snapshot-save -wipe-data -memory 4096 -cores 1
      - DATAPARTITION=1024m
      - AUTO_START=true
      - APPIUM=true
    shm_size: "1G"
    deploy:
      resources:
        limits:
          cpus: "2.0"
          memory: 4G

  emulator3:
    image: evgeniymish/android:1.10.0
    privileged: true
    container_name: emulator3
    ports:
      - "5557:5555"
      - "6082:6080"
    environment:
      - DEVICE=Nexus 5
      - EMULATOR_ARGS=-no-window -no-audio -no-snapshot-load -no-snapshot-save -wipe-data -memory 4096 -cores 1
      - DATAPARTITION=1024m
      - AUTO_START=true
      - APPIUM=true
    shm_size: "1G"
    deploy:
      resources:
        limits:
          cpus: "1.0"
          memory: 4G
