version: "3.9"

services:
  emulator1:
    image: shmayro/dockerify-android:19-11-25
    privileged: true
    container_name: emulator1
    ports:
      - "5555:5555"
      - "6080:6080"
    environment:
      - DEVICE=Nexus 5
      - EMULATOR_ARGS=-no-window -no-audio -no-snapshot-load -no-snapshot-save -wipe-data -memory 768 -cores 1
      - DATAPARTITION=512m
      - AUTO_START=true
      - APPIUM=true
    shm_size: "512m"
    deploy:
      resources:
        limits:
          cpus: "1.0"
          memory: 1.2G

  emulator2:
    image: shmayro/dockerify-android:19-11-25
    privileged: true
    container_name: emulator2
    ports:
      - "5556:5555"
      - "6081:6080"
    environment:
      - DEVICE=Nexus 5
      - EMULATOR_ARGS=-no-window -no-audio -no-snapshot-load -no-snapshot-save -wipe-data -memory 768 -cores 1
      - DATAPARTITION=512m
      - AUTO_START=true
      - APPIUM=true
    shm_size: "512m"
    deploy:
      resources:
        limits:
          cpus: "1.0"
          memory: 1.2G

  emulator3:
    image: shmayro/dockerify-android:19-11-25
    privileged: true
    container_name: emulator3
    ports:
      - "5557:5555"
      - "6082:6080"
    environment:
      - DEVICE=Nexus 5
      - EMULATOR_ARGS=-no-window -no-audio -no-snapshot-load -no-snapshot-save -wipe-data -memory 768 -cores 1
      - DATAPARTITION=512m
      - AUTO_START=true
      - APPIUM=true
    shm_size: "512m"
    deploy:
      resources:
        limits:
          cpus: "1.0"
          memory: 1.2G
